[user]
    name = unsip
    email = unsip@protonmail.com

[core]
    editor = nvim

[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    cp = cherry-pick
    cs = commit -S
    ct = checkout -t
    di = diff
    fa = fetch --all --tags --prune --prune-tags
    st = status
    lg = log --graph --decorate --pretty=oneline --abbrev-commit
