* {
  font: Iosevka;
  font-size: 16px;
  font-weight: bold;
  box-shadow: none;
}

window {
  border: 5px solid #7fac96;
  background-color: #1a1e25;
  border-radius: 5px;
}

#entry {
  margin: 5px;
  font-size: large;
}

#entry:selected {
  background-color: #4c566a;
  border: none;
  color: white;
}

#inner-box {
  border: none;
}

#input {
  background-color: #1a1e25;
  border: 5px solid #7fac96;
  border-bottom: none;
  border-radius: 5px;
  color: white;
}

#text {
  margin-left: 1em;
}
